<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->

<head>
	<meta charset="utf-8" />
	<title>
		SP Pinturas
	</title>
	<meta name="description" content="Latest updates and statistic charts">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--begin::Web font -->
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
	<script>
		WebFont.load({
			google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>
	<!--end::Web font -->
	<!--begin::Base Styles -->
	<!--begin::Page Vendors -->
	<link href="{{ url_for('static', filename='assets/vendors/custom/fullcalendar/fullcalendar.bundle.css') }}"
		rel="stylesheet" type="text/css" />
	<!--end::Page Vendors -->
	<link href="{{ url_for('static', filename='assets/vendors/base/vendors.bundle.css') }}" rel="stylesheet"
		type="text/css" />
	<link href="{{ url_for('static', filename='assets/demo/default/base/style.bundle.css') }}" rel="stylesheet"
		type="text/css" />
	<!--end::Base Styles -->
	<link rel="shortcut icon"
		href="{{ url_for('static', filename='img/sp.png')}}" />
	<!-- Personal CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/lista.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
</head>
<!-- end::Head -->
<!-- end::Body -->

<body
	class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
	<!-- begin:: Page -->
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- BEGIN: Header -->
		<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
			<div class="m-container m-container--fluid m-container--full-height">
				<div class="m-stack m-stack--ver m-stack--desktop">
					<!-- BEGIN: Brand -->
					<div class="m-stack__item m-brand  m-brand--skin-dark ">
						<div class="m-stack m-stack--ver m-stack--general">
							<div class="m-stack__item m-stack__item--middle m-brand__logo col-md-3">
								<a href="{{ url_for('core.index') }}" class="m-brand__logo-wrapper">
									<img class="logo" src="{{ url_for('static', filename='img/logo_completo_2.png') }}" alt="">
								</a>
							</div>
							<div class="m-stack__item m-stack__item--middle m-brand__tools">
								<!-- BEGIN: Left Aside Minimize Toggle -->
								<a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block 
					 ">
									<span></span>
								</a>
								<!-- END -->
								<!-- BEGIN: Responsive Aside Left Menu Toggler -->
								<a href="javascript:;" id="m_aside_left_offcanvas_toggle"
									class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
									<span></span>
								</a>
								<!-- END -->
								<!-- BEGIN: Responsive Header Menu Toggler -->
								<a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
									class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
									<span></span>
								</a>
								<!-- END -->
								<!-- BEGIN: Topbar Toggler -->
								<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
									class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
									<i class="flaticon-more"></i>
								</a>
								<!-- BEGIN: Topbar Toggler -->
							</div>
						</div>
					</div>
					<!-- END: Brand -->
					<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
						<!-- BEGIN: Horizontal Menu -->
						<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark "
							id="m_aside_header_menu_mobile_close_btn">
							<i class="la la-close"></i>
						</button>
						<!-- END: Horizontal Menu -->
						<!-- BEGIN: Topbar -->
						<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
							<div class="m-stack__item m-topbar__nav-wrapper">
								<ul class="m-topbar__nav m-nav m-nav--inline">
									<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
										m-dropdown-toggle="click">
										<a href="#" class="m-nav__link m-dropdown__toggle">
											<span class="m-topbar__userpic">
												<i class="fa fa-user-circle-o user-avatar"></i>
											</span>
											<span class="m-topbar__username m--hide">
												Nick
											</span>
										</a>
										<div class="m-dropdown__wrapper">
											<span
												class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
											<div class="m-dropdown__inner">
												<div class="m-dropdown__header m--align-center"
													style="background: url(../static/assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
													<div class="m-card-user m-card-user--skin-dark">
														<div class="m-card-user__pic">
															<i class="fa fa-user-circle-o user-avatar user-avatar-extended"></i>
														</div>
														<div class="m-card-user__details">
															<span class="m-card-user__name m--font-weight-500">
																Mark Andre
															</span>
															<a href=""
																class="m-card-user__email m--font-weight-300 m-link">
																mark.andre@gmail.com
															</a>
														</div>
													</div>
												</div>
												<div class="m-dropdown__body">
													<div class="m-dropdown__content">
														<ul class="m-nav m-nav--skin-light">
															<li class="m-nav__item">
																<a href="{{ url_for('usuarios.login') }}"
																	class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
																	Logout
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- END: Topbar -->
					</div>
				</div>
			</div>
		</header>
		<!-- END: Header -->
		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
			<!-- BEGIN: Left Aside -->
			<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
				<i class="la la-close"></i>
			</button>
			<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
				<!-- BEGIN: Aside Menu -->
				<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
					m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
					<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
							m-menu-submenu-toggle="hover">
							<a href="{{ url_for('pedidos.listar_pedidos') }}" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon fa fa-building-o"></i>
								<span class="m-menu__link-text">
									Pedidos
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
							m-menu-submenu-toggle="hover">
							<a href="{{ url_for('superficies.listar_superficies') }}"
								class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-layers"></i>
								<span class="m-menu__link-text">
									Superfícies
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
							m-menu-submenu-toggle="hover">
							<a href="{{ url_for('servicos.listar_servicos') }}" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon fa fa-briefcase"></i>
								<span class="m-menu__link-text">
									Serviços
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
							m-menu-submenu-toggle="hover">
							<a href="{{ url_for('materiais.listar_materiais') }}" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon fa fa-paint-brush"></i>
								<span class="m-menu__link-text">
									Materiais
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
							m-menu-submenu-toggle="hover">
							<a href="{{ url_for('areas_extras.listar_areas_extras') }}"
								class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon fa fa-plus-circle"></i>
								<span class="m-menu__link-text">
									Áreas Extras
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
							m-menu-submenu-toggle="hover">
							<a href="{{ url_for('valor_metro_quadrado.manter_valor_metro_quadrado') }}"
								class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon fa fa-money"></i>
								<span class="m-menu__link-text">
									Valor do Metro²
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
							m-menu-submenu-toggle="hover">
							<a href="{{ url_for('listaorcamentoview') }}" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon fa fa-folder-open"></i>
								<span class="m-menu__link-text">
									Orçamentos
								</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- END: Aside Menu -->
			</div>
			{% block content %}
			{% endblock %}
			<!-- END: Left Aside -->
		</div>
		<!-- end:: Body -->

		<!-- begin::Footer -->
		<footer class="m-grid__item		m-footer ">
			<div class="m-container m-container--fluid m-container--full-height m-page__container">
				<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
					<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
						<span class="m-footer__copyright">
							2019 &copy; SP Pinturas
						</span>
					</div>
				</div>
			</div>
		</footer>
		<!-- end::Footer -->
	</div>
	<!-- end:: Page -->
	<!-- begin::Scroll Top -->
	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>
	<!-- end::Scroll Top -->

	<!--begin::Base Scripts -->
	<script src="{{ url_for('static', filename='assets/vendors/base/vendors.bundle.js') }}"
		type="text/javascript"></script>
	<script src="{{ url_for('static', filename='assets/demo/default/base/scripts.bundle.js') }}"
		type="text/javascript"></script>
	<!--end::Base Scripts -->
	<!--begin::Page Vendors -->
	<script src="{{ url_for('static', filename='assets/vendors/custom/fullcalendar/fullcalendar.bundle.js') }}"
		type="text/javascript"></script>
	<!--end::Page Vendors -->
	<!--begin::Page Snippets -->
	<script src="{{ url_for('static', filename='assets/app/js/dashboard.js') }}" type="text/javascript"></script>
	<!--end::Page Snippets -->
	<!--begin::Page Resources -->
	<script
		src="{{ url_for('static', filename='assets/demo/default/custom/components/datatables/child/data-local.js') }}"
		type="text/javascript"></script>
	<script src="{{ url_for('static', filename='assets/demo/default/custom/components/forms/widgets/nouislider.js') }}"
		type="text/javascript"></script>
	<script src="{{ url_for('static', filename='assets/demo/default/custom/components/forms/widgets/input-mask.js') }}"
		type="text/javascript"></script>
	<!--end::Page Resources -->
	<!--begin::lista_pedidos Resources -->
	<script
		src="{{ url_for('static', filename='assets/demo/default/custom/components/datatables/base/html-table.js') }}"
		type="text/javascript"></script>
	<!--end::lista_pedidos Resources -->

	<!-- Fundo do Modal -->
	<div class="modal-background" id="modal-background">
	</div>
	<!-- Fim do Fundo do Modal -->

	<!-- Modais -->
	<!-- Modal Excluir Registro -->
	<div class="container-custom-modal" id="container-delete-modal">
		<img class="modal-icon" src="{{ url_for('static', filename='img/close.png') }}" alt="Delete icon">
		<p class="modal-message">Tem certeza que quer excluir este registro?</p>
		<div class="container-modal-buttons">
			<button onclick="closeModal()" class="btn btn-secondary modal-button cancel-button">Cancelar</button>
			<form id="form-modal-exclude-button" action="" method="POST">
				<button id="modal-exclude-button" class="btn btn-danger modal-button exclude-button">Exluir</button>
			</form>
		</div>
	</div>
	<!-- Fim de Modal Excluir Registro -->
	<!-- Fim de Modais -->
	<!-- My custom JS -->
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<!-- End - My custom JS -->
</body>
<!-- end::Body -->

</html>