{% extends "base.html" %}
{% block content %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">
                    Orçamento
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="row">
            <div class="col-md-12">
                <!-- Início do Formulário -->
                <form class="m-portlet m-portlet--tab" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}

                    <div class="m-form m-form--fit m-form--label-align-right">

                        <!-- Dados do Orçamento -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Orçamento
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="col-md-6">
                                <div class="form-group m-form__group col-md-12 m-0">
                                    {{ form.valor_total.label }}
                                    {{ form.valor_total(class="form-control m-input") }}
                                </div>

                                <div class="form-group m-form__group col-md-9">
                                    {{ form.nome_do_condominio.label }}
                                    {{ form.nome_do_condominio(class="form-control m-input") }}
                                </div>

                                <div class="row col-md-12">
                                    <div class="form-group m-form__group col-md-9">
                                        {{ form.endereco.label }}
                                        {{ form.endereco(class="form-control m-input") }}
                                    </div>
                                    <div class="form-group m-form__group col-md-3 pt-0 pr-0">
                                        {{ form.numero.label }}
                                        {{ form.numero(class="form-control m-input") }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Fim de Dados do Orçamento -->

                        <!-- Dados do Orçamento da Área Externa -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Orçamento da Área Externa
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="col-md-6">
                                <div class="form-group m-form__group col-md-12 m-0">
                                    {{ form.valor_total_orcamento_area_externa.label }}
                                    {{ form.valor_total_orcamento_area_externa(class="form-control m-input") }}
                                </div>

                                <div class="col-md-12 row pb-0">
                                    <div class="form-group m-form__group col-md-4 m-0 pr-0">
                                        {{ form.valor_pintura_orcamento_area_externa.label }}
                                        {{ form.valor_pintura_orcamento_area_externa(class="form-control") }}
                                    </div>

                                    <div class="form-group m-form__group col-md-4 m-0 pt-0 pr-0">
                                        {{ form.valor_servicos_orcamento_area_externa.label }}
                                        {{ form.valor_servicos_orcamento_area_externa(class="form-control") }}
                                    </div>
                                </div>

                                <div class="form-group m-form__group col-md-12 m-0 pt-0">
                                    {{ form.metragem_orcamento_area_externa.label }}
                                    {{ form.metragem_orcamento_area_externa(class="form-control m-input") }}
                                </div>

                                <div class="form-group m-form__group col-md-12 m-0 pt-0">
                                    {{ form.superficie_orcamento_area_externa.label }}
                                    {{ form.superficie_orcamento_area_externa(class="form-control m-input") }}
                                </div>

                            </div>
                        </div>
                        <!-- Fim de Dados do Orçamento da Área Externa -->

                        <!-- Dados do Orçamento da Área Interna -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Orçamento da Área Interna
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="col-md-6">
                                <div class="form-group m-form__group col-md-12 m-0">
                                    {{ form.valor_total_orcamento_area_interna.label }}
                                    {{ form.valor_total_orcamento_area_interna(class="form-control m-input") }}
                                </div>

                                <div class="col-md-12 row pb-0">
                                    <div class="form-group m-form__group col-md-4 m-0 pr-0">
                                        {{ form.valor_pintura_orcamento_area_interna.label }}
                                        {{ form.valor_pintura_orcamento_area_interna(class="form-control") }}
                                    </div>

                                    <div class="form-group m-form__group col-md-4 m-0 pt-0 pr-0">
                                        {{ form.valor_servicos_orcamento_area_interna.label }}
                                        {{ form.valor_servicos_orcamento_area_interna(class="form-control") }}
                                    </div>
                                </div>

                                <div class="form-group m-form__group col-md-12 m-0 pt-0">
                                    {{ form.metragem_orcamento_area_interna.label }}
                                    {{ form.metragem_orcamento_area_interna(class="form-control m-input") }}
                                </div>

                                <div class="form-group m-form__group col-md-12 m-0 pt-0">
                                    {{ form.superficie_orcamento_area_interna.label }}
                                    {{ form.superficie_orcamento_area_interna(class="form-control m-input") }}
                                </div>

                            </div>
                        </div>
                        <!-- Fim de Dados do Orçamento da Área Interna -->

                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions d-flex justify-content-end">
                                <button type="submit" formaction="{{ url_for('listaorcamentoview') }}" formmethod="GET"
                                    class="btn btn-secondary order-0 mr-2">
                                    Voltar
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <!-- Fim do Formulário -->
            </div>
        </div>
    </div>
</div>
{% endblock %}