{% extends "base.html" %}
{% block content %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">
                    Novo Pedido
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="row">
            <div class="col-md-12">
                <!-- Início do Formulário -->
                <form class="m-portlet m-portlet--tab" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}

                    <div class="m-form m-form--fit m-form--label-align-right">

                        <!-- Dados do Condomínio -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Condomínio
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="col-md-6">
                                <div class="form-group m-form__group col-md-12 m-0">
                                    {{ form.nome_do_condominio.label }}
                                    {{ form.nome_do_condominio(class="form-control m-input") }}
                                </div>

                                <div class="form-group m-form__group col-md-9">
                                    {{ form.CEP.label }}
                                    {{ form.CEP(class="form-control m-input") }}
                                </div>

                                <div class="row col-md-12">
                                    <div class="form-group m-form__group col-md-9">
                                        {{ form.endereco.label }}
                                        {{ form.endereco(class="form-control m-input") }}
                                    </div>
                                    <div class="form-group m-form__group col-md-3 pt-0 pr-0">
                                        {{ form.numero.label }}
                                        {{ form.numero(class="form-control m-input") }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group m-form__group col-md-12 pt-0 pr-0 pb-0">
                                    {{ form.numero_de_predios.label }}
                                </div>
                                <div class="form-group m-form__group col-md-2 pt-0 pr-0">
                                    {{ form.numero_de_predios(class="form-control m-input") }}
                                </div>
                                <div class="form-group m-form__group col-md-12 pt-0 pr-0 pb-0">
                                    {{ form.numero_de_andares_por_predio.label }}
                                </div>
                                <div class="form-group m-form__group col-md-2 pt-0 pr-0">
                                    {{ form.numero_de_andares_por_predio(class="form-control m-input") }}
                                </div>
                            </div>
                        </div>
                        <!-- Fim de Dados do Condomínio -->

                        <!-- Dados do Síndico -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Síndico
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="col-md-6">
                                <div class="form-group m-form__group col-md-12 m-0">
                                    {{ form.nome_do_sindico.label }}
                                    {{ form.nome_do_sindico(class="form-control m-input") }}
                                </div>

                                <div class="col-md-12 row pb-0">
                                    <div class="form-group m-form__group col-md-4 m-0 pr-0">
                                        {{ form.celular_1_do_sindico.label }}
                                        {{ form.celular_1_do_sindico(class="form-control", id="m_inputmask_celular_1_sindico") }}
                                    </div>

                                    <div class="form-group m-form__group col-md-4 m-0 pt-0 pr-0">
                                        {{ form.celular_2_do_sindico.label }}
                                        {{ form.celular_2_do_sindico(class="form-control", id="m_inputmask_celular_2_sindico") }}
                                    </div>
                                </div>

                                <div class="form-group m-form__group col-md-12 m-0 pt-0">
                                    {{ form.email_do_sindico.label }}
                                    {{ form.email_do_sindico(class="form-control m-input") }}
                                </div>

                            </div>
                        </div>
                        <!-- Fim de Dados do Síndico -->

                        <!-- Dados da Administradora -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Administradora
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="col-md-6">
                                <div class="form-group m-form__group col-md-12 m-0">
                                    {{ form.nome_da_administradora.label }}
                                    {{ form.nome_da_administradora(class="form-control m-input") }}
                                </div>

                                <div class="col-md-12 row pb-0">
                                    <div class="form-group m-form__group col-md-4 m-0 pr-0">
                                        {{ form.telefone_1_da_administradora.label }}
                                        {{ form.telefone_1_da_administradora(class="form-control", id="m_inputmask_telefone_1_administradora") }}
                                    </div>

                                    <div class="form-group m-form__group col-md-4 m-0 pt-0 pr-0">
                                        {{ form.telefone_2_da_administradora.label }}
                                        {{ form.telefone_2_da_administradora(class="form-control", id="m_inputmask_telefone_2_administradora") }}
                                    </div>
                                </div>

                                <div class="form-group m-form__group col-md-12 m-0 pt-0">
                                    {{ form.email_da_administradora.label }}
                                    {{ form.email_da_administradora(class="form-control m-input") }}
                                </div>

                            </div>
                        </div>
                        <!-- Fim de Dados da Administradora -->

                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions d-flex justify-content-end">
                                {{ form.submit(class="btn btn-primary order-1") }}
                                <button type="submit" formaction="{{ url_for('pedidos.listar_pedidos') }}"
                                    formmethod="GET" class="btn btn-secondary order-0 mr-2">
                                    Cancelar
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <!-- Fim do Formulário -->
            </div>
        </div>
    </div>
</div>
{% endblock %}