{% extends "base.html" %}
{% block content %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">
                    {{ titulo }}
                </h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="row">
            <div class="col-md-12">
                <!-- Início do Formulário -->
                <form class="m-portlet m-portlet--tab" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}

                    <div class="m-form m-form--fit m-form--label-align-right">

                        <!-- Dados do Serviço -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Serviço
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="form-group m-form__group col-md-4 m-0 pb-0">
                                {{ form.descricao.label }}
                                {{ form.descricao(class="form-control m-input") }}
                            </div>
                        </div>
                        <!-- Fim de Dados do Serviço -->

                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions d-flex justify-content-end">
                                {{ form.submit(class="btn btn-primary order-1") }}
                                <button type="submit" formaction="{{ url_for('servicos.listar_servicos') }}"
                                    formmethod="GET" class="btn btn-secondary order-0 mr-2">
                                    Cancelar
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <!-- Fim do Formulário -->
            </div>
        </div>
    </div>
</div>
{% endblock %}