{% extends "base.html" %}
{% block content %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__head d-flex align-items-center justify-content-between">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Pedidos
						</h3>
					</div>
				</div>
				<a href="{{ url_for('pedidos.adicionar_pedido') }}"
					class="btn btn-outline-primary m-btn m-btn--icon m-btn--outline-2x">
					<span>
						<i class="fa fa-plus"></i>
						<span>
							Adicionar Pedido
						</span>
					</span>
				</a>
			</div>
			<div class="m-portlet__body pt-1">
				<!-- Campo de Pesquisa da Tabela -->
				<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
					<div class="row align-items-center">
						<div class="col-xl-8 order-2 order-xl-1">
							<div class="form-group m-form__group row align-items-center">
								<div class="col-md-4">
									<div class="m-form__group m-form__group--inline">
										<div class="m-form__label">
											<label>
												Status:
											</label>
										</div>
										<div class="m-form__control">
											<select class="form-control m-bootstrap-select" id="m_form_status">
												<option value="">
													Todos
												</option>
												<option value="1">
													Recebido
												</option>
												<option value="2">
													Enviado
												</option>
											</select>
										</div>
									</div>
									<div class="d-md-none m--margin-bottom-10"></div>
								</div>
								<div class="col-md-4">
									<div class="m-input-icon m-input-icon--left">
										<input type="text" class="form-control m-input" placeholder="Procurar..."
											id="generalSearch">
										<span class="m-input-icon__icon m-input-icon__icon--left">
											<span>
												<i class="la la-search"></i>
											</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Fim de Campo de Pesquisa da Tabela -->

				<!-- Tabela -->
				<table class="m-datatable" id="html_table" width="100%">
					<!-- Cabeçalho da Tabela -->
					<thead>
						<tr>
							<th title="Field #1">
								Id
							</th>
							<th title="Field #2">
								Condomínio
							</th>
							<th title="Field #3">
								Data
							</th>
							<th title="Field #4">
								Status
							</th>
							<th title="Field #5">
								Ação
							</th>
						</tr>
					</thead>
					<!-- Fim de Cabeçalho da Tabela -->
					<!-- Corpo da Tabela -->
					<tbody>
						{% for pedido in pedidos %}
						<!-- Linha da Tabela -->
						<tr>
							<!-- Coluna 1 -->
							<td>
								{{ pedido.id }}
							</td>
							<!-- Fim de Coluna 1 -->

							<!-- Coluna 2 -->
							<td>
								{{ pedido.condominio.nome }}
							</td>
							<!-- Fim de Coluna 2 -->

							<!-- Coluna 3 -->
							<td>

								{{ pedido.data.split('-')[2] }}/{{ pedido.data.split('-')[1] }}/{{ pedido.data.split('-')[0] }}
							</td>
							<!-- Fim de Coluna 3 -->

							<!-- Coluna 4 -->
							<td>
								{% if pedido.status == "Recebido" %}
								1
								{% elif pedido.status == "Enviado" %}
								2
								{% endif %}
							</td>
							<!-- Fim de Coluna 4 -->

							<!-- Coluna 5 - Editar ou Excluir -->
							<td>
								<form action="{{ url_for('pedidos.atualizar_pedido', id_pedido=pedido.id) }}"
									class="container-edit-button">
									<button type="submit" class="edit-button">
										<i class="flaticon-edit"></i>
									</button>
								</form>
								<div class="container-delete-button">
									<button type="submit" class="delete-button" id={{pedido.id}}
										onclick="openModal(this, 'deletar_pedido')">
										<i class="flaticon-delete-1"></i>
									</button>
								</div>
							</td>
							<!-- Fim de Coluna 5 - Editar ou Excluir -->
						</tr>
						<!-- Fim de Linha da Tabela -->
						{% endfor %}
					</tbody>
					<!-- Fim de Corpo da Tabela -->
				</table>
				<!-- Fim de Tabela -->
			</div>
		</div>
	</div>
</div>
{% endblock %}