{% extends "base.html" %}
{% block content %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="row">
            <div class="col-md-3">
                <!-- Início do Formulário -->
                <form class="m-portlet m-portlet--tab" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
                    <div class="m-form m-form--fit m-form--label-align-right">
                        <!-- Dados do Material -->
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Valor do metro quadrado
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body col-md-12 row m-0">
                            <div class="form-group m-form__group col-md-12 m-0 pb-0 d-flex flex-direction-row">
                                <div class="pr-3">
                                    {{ form.valor.label }}
                                    {{ form.valor(class="form-control m-input") }}
                                </div>
                                <div class="d-flex align-items-end">
                                    {{ form.submit(class="btn btn-primary order-1") }}
                                </div>
                            </div>
                        </div>
                        <!-- Fim de Dados do Material -->
                    </div>
                </form>
                <!-- Fim do Formulário -->
            </div>
        </div>
    </div>
</div>
{% endblock %}