/* Botões Editar e Excluir registro */

.container-edit-button,
.container-delete-button {
    display: inline-block;
}

.edit-button,
.delete-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.edit-button {
    margin-right: 20px;
}

.flaticon-edit {
    color: blue;
}

.flaticon-delete-1 {
    color: red;
}