/* Geral */

html {
    height: 100%;
}

body {
    height: 100%;
}

/* Header */

.nome-empresa {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.logo {
    width: 80%;
    overflow: hidden;
}

.user-avatar {
    font-size: 35px;
    color: #2c2e3e;
}

.user-avatar-extended {
    font-size: 50px;
}

/* Modais */

.modal-icon {
    width: 70px;
    height: 70px;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
}

.container-custom-modal {
    width: 400px;
    height: 300px;
    z-index: 1001;
    border-radius: 5px;
    background-color: #fff;
    margin: 0;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    visibility: hidden;
}

.modal-message {
    text-align: center;
    font-size: 16px;
}

.container-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.modal-button {
    width: 100px;
}